#canvas{
  width: 15rem;
  padding: 5rem 2rem;
  text-align: center;
  border: 1px solid #333;
}

.page-head{
  color: white;
  text-shadow: 2px 2px black;
}

h2{
  font-size: 2rem !important;
}

.desc-card{
  background-color: #FFFD99 !important;
  font-weight: bold;
}

.testspan{
  background:red;
  display: inline-block;
  padding: 10px;
  color:#fff;
  margin:10px 0;
}

.available .testspan{
  background: green;
}

.nearby .testspan:after{
  content: "nearby";
  margin-left: 10px;
}

#car{
  width: 500px;
  height: 150px;
  background: url(/images/car-1.svg) no-repeat;
  background-size: 50%;
}

#car.destroyed{
  background: url(/images/car-4.svg) no-repeat;
  background-size: 50%;
}


#car-health{
  width: 280px;
  border: 2px solid #000;
}

#car-health div{
  height: 20px;
  background: crimson;
}

body{
  background-color: #C599FF !important;
}

.site-button{
  background-color: #794EB3 !important;
  border: none !important;
}

.site-button:hover{
  background-color: #D4B3FF !important;
  color: black !important;
}
